* {
    margin: 0;
    padding: 0;
}

.contenedor{
    text-align: center;
    padding: 30px;
}

.teclasPantalla{
    color:darkseagreen;
}
.btnBorrar{
    border-radius: 15px;
    width: 120px;
    height: 70px;
}

.btnEspacio{
    border-radius: 15px;
    width: 520px;
    height: 70px;
}

button {
    border-radius: 15px;
    width: 70px;
    height: 70px;
    font-size: large;
    margin: 2px;
}

